* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#testForm {
    left: 20px margin:10px;
    padding: 12px;
}


#testimage img {
    right: 20px;
    background-position-x: right;
    top: 30px;
    width: 100%;
    height: 50%;
}


.inputTable td {
    padding: 10px;
}

.inputTable th {
    text-align: left;
}

.inputTable input[type=text],
input[type=number],
input[type=email] {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: rgba(128, 128, 128, 0.5);
    width: 300px;
}

input[type=button] {
    color: white;
    font-size: larger;
    font-weight: bolder;
    background-color: blueviolet;
}

.inputTable label {
    font-display: inherit;
}