body {
  background-color:white;
}
header {
  background-color:black ;
  color:white;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top:0px;
}

footer {
  background-color: black;
  color: rgb(255, 255, 0);
  font-size:large;
  text-align: center;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  bottom:0px;
}
p{
  background-color: aquamarine;
  border-color: burlywood;
  border:2px solid green;
}